#mainheading {
  color: white;
  font-size: 80px;
  background: linear-gradient(to right, rgb(3, 76, 112), #e6d708 30%, #4d0533);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s linear infinite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.stdLink:hover {
  border-bottom: 3px solid white; 
}
.stdLink{
  border-radius: none;
}
#check {
  color: black;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav {
  max-height: 50px;

}