.teacher-card {
  display: inline-block;
  vertical-align: top; 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, font-size 0.3s ease;
  width: 250px;
  height: 150px;
  margin-right: 10px; 
}

.teacher-card:hover {
  transform: scale(1.05);
  font-size: 1.1em;
}

.teacher-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.teacher-card p {
  margin-bottom: 5px;
  color: #666;
}

.teacher-card a {
  color: #4a90e2;
  text-decoration: none;
}

.teacher-card a:hover {
  text-decoration: underline;
}

#one {
  border-radius: 12px;
}
